<!-- about -->
<div class="about" id="about">
	
	<div class="col-md-6 person-info-agileits-w3layouts">
		<h3 class="w3_head w3_head1">About Me
			<span>I am Shun-Bo</span>
		</h3>
		<p style="word-break: break-all;">
			<span>Hi!, I am {{site.data.about.name}} </span>
			<br/>
			{{site.data.about.aboutme}}</p>
		<ul>
			<li>
				<span>Name</span>: {{site.data.about.name}}</li>
			<!-- <li>
					<span>Age</span>: 28 Years</li> -->
			<li>
				<span>Experience</span>:{{site.data.about.Experience}}</li>
			<li>
				<span>Email</span>:
				<a href="mailto:{{site.data.about.Email}}">{{site.data.about.Email}}</a>
			</li>
			<!-- <li>
					<span>Phone</span>: (012) 345 6789</li> -->
			<li>
				<span>Website</span>:
				<a target="_bland" href="{{site.data.about.Website}}">{{site.data.about.Website}}</a>
			</li>
			<li>
				<span>Address</span>:{{site.data.about.Address}} </li>
			<!-- <li>
					<a href="#" class="botton-w3ls">Download CV</a>
					<a href="#small-dialog" class="play-icon popup-with-zoom-anim botton-w3ls">Watch my video</a>
				</li> -->
		</ul>
	</div>
	<div class="col-md-6 about-left-w3ls">

		</div>
	<div class="clearfix"></div>
</div>
<!-- //about-bottom -->


<!-- <div id="small-dialog" class="mfp-hide w3ls_small_dialog wthree_pop">
		<div class="agileits_modal_body">
			<iframe src="https://player.vimeo.com/video/18417202"></iframe>
		</div>
	</div> -->