<!-- about -->
<div class="about" id="about">
   
	
	<div class="col-md-6 person-info-agileits-layouts">
		<h3 class="_head _head1">About Me
			<span>I am {{site.data.about[lang].name}} </span>
		</h3>
		<p style="word-break: break-word;">
			<span>Hi!, I am {{site.data.about[lang].name}} </span>
			<br/>
			{{site.data.about[lang].aboutme}}</p>
		<ul>
			<li>
				<span>Name</span>: {{site.data.about[lang].name}}</li>
			<!-- <li>
					<span>Age</span>: 28 Years</li> -->
			<li>
				<span>Experience</span>:{{site.data.about[lang].Experience}}</li>
			<li>
				<span>Email</span>:
				<a href="mailto:{{site.data.about[lang].Email}}">{{site.data.about[lang].Email}}</a>
			</li>
			<!-- <li>
					<span>Phone</span>: (012) 345 6789</li> -->
			<li>
				<span>Website</span>:
				<a target="_bland" href="{{site.data.about[lang].Website}}">{{site.data.about[lang].Website}}</a>
			</li>
			<li>
				<span>Address</span>:{{site.data.about[lang].Address}} </li>
			<!-- <li>
					<a href="#" class="botton-ls">Download CV</a>
					<a href="#small-dialog" class="play-icon popup-with-zoom-anim botton-ls">Watch my video</a>
				</li> -->
		</ul>
	</div>
	<div class="col-md-6 about-left-ls">

		</div>
	<div class="clearfix"></div>
</div>
<!-- //about-bottom -->


<!-- <div id="small-dialog" class="mfp-hide ls_small_dialog wthree_pop">
		<div class="agileits_modal_body">
			<iframe src="https://player.vimeo.com/video/18417202"></iframe>
		</div>
	</div> -->