<!-- banner -->
<div class="banner" id="home">
	<div class="header">
		<div class="w3_agile_logo">
			<h1>
				<a href="index.html">My Info
					<span>WHO IAM</span>
				</a>
			</h1>
		</div>
		<div class="w3_menu">
			<div class="mobile-nav-button">
				<div class="mobile-nav-button__line"></div>
				<div class="mobile-nav-button__line"></div>
				<div class="mobile-nav-button__line"></div>
			</div>
			<nav class="mobile-menu">
				<ul>
					<li>
						<a href="#home" class="active scroll">Home</a>
					</li>
					<li>
						<a href="#about" class="scroll">About</a>
					</li>
					<li>
						<a href="#skills" class="scroll">Skills</a>
					</li>
					<li>
						<a href="#work" class="scroll">Experience</a>
					</li>
					<li>
							<a href="#services" class="scroll">Services</a>
						</li>
					<li>
						<a href="#gallery" class="scroll">Projects</a>
					</li>
					<li>
						<a href="#contact" class="scroll">Contact</a>
					</li>
				</ul>
				<div class="clearfix"></div>
				<!-- <div class="search-agileits">
					<form action="#" method="post">
						<input type="search" name="Search" placeholder=" " required="">
						<input type="submit" value="Search">
					</form>
				</div> -->
			</nav>
		</div>
		<div class="clearfix"> </div>
	</div>
	<div class="agile_banner_info">
		<h2>
			<span>HI! I'm</span> Shun-Bo</h2>
		<div id="typed-strings" class="agileits_w3layouts_strings">
			{% for Job_title in site.data.about.banner.Job_titles %}
			<p>{{Job_title}}</p>
			{% endfor %}

		</div>
		<span id="typed" style="white-space:pre;"></span>
		<p class="banner-p-w3ls">
			{{site.data.about.banner.slogan}}
		</p>
	</div>
	<div class="w3_agileits_social_media">
		<ul>

			<li>
				<a target="_bland" href="{{site.data.about.banner.LinkedIn}}" class="wthree_LinkedIn">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
				</a>
			</li>
			<li>
				<a target="_bland" href="{{site.data.about.banner.GitHub}}" class="wthree_github">
					<i class="fa fa-github" aria-hidden="true"></i>
				</a>
			</li>
			<li>
				<a target="_bland" href="{{site.data.about.banner.FaceBook}}" class="wthree_facebook">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
			</li>
			<!-- <li>
				<a href="#" class="wthree_twitter">
					<i class="fa fa-twitter" aria-hidden="true"></i>
				</a>
			</li> -->

		</ul>
	</div>
	<div class="banner-image-w3layouts">
		<img src="images/pc.png" alt=" " class="img-responsive" />
	</div>
</div>
<!-- //banner -->