<!-- banner -->
<div class="banner" id="home">
	<div class="header">
		<div class="_agile_logo">
			<h1>
				<a href="index.html">Resume
					<span>WHO IAM</span>
				</a>
				
			</h1>
			<div style="text-align: center;">
				<a href="/zh/" onclick="setCookie('Lng', 'zh-TW', 30);" style="color:#000;">
					<span>中文</span>
				</a>|
				<a href="/en/" onclick="setCookie('Lng', 'en', 30);" style="color:#000;">
					<span>English</span>
				</a>
			</div>
		</div>
		<div class="_menu">
			<div class="mobile-nav-button">
				<div class="mobile-nav-button__line"></div>
				<div class="mobile-nav-button__line"></div>
				<div class="mobile-nav-button__line"></div>
			</div>
			<nav class="mobile-menu">
				<ul>
					<li>
						<a href="#home" class="active scroll">Home</a>
					</li>
					<li>
						<a href="#about" class="scroll">About</a>
					</li>
					<li>
						<a href="#skills" class="scroll">Skills</a>
					</li>
					<li>
						<a href="#work" class="scroll">Experience</a>
					</li>
					<li>
							<a href="#services" class="scroll">Services</a>
						</li>
					<li>
						<a href="#gallery" class="scroll">Projects</a>
					</li>
					<li>
						<a href="#contact" class="scroll">Contact</a>
					</li>
				</ul>
				<div class="clearfix"></div>
				<!-- <div class="search-agileits">
					<form action="#" method="post">
						<input type="search" name="Search" placeholder=" " required="">
						<input type="submit" value="Search">
					</form>
				</div> -->
			</nav>
		</div>
		<div class="clearfix"> </div>
	</div>
	<div class="agile_banner_info">
		<h2>
			<span>HI! I'm</span>{{site.data.about[lang].name}} </h2>
			<div>
		<div id="typed-strings" class="agileits_layouts_strings">
			{% for Job_title in site.data.about[lang].banner.Job_titles %}
			<p>{{Job_title}}</p>
			{% endfor %}

		</div>
		<span id="typed" style="white-space:pre;"></span>
	</div>
		<p class="banner-p-ls">
			{{site.data.about[lang].banner.slogan}}
		</p>
	</div>
	<div class="_agileits_social_media">
		<ul>

			<li>
				<a target="_bland" href="{{site.data.about[lang].banner.LinkedIn}}" class="wthree_LinkedIn">
					<i class="fa fa-linkedin" aria-hidden="true"></i>
				</a>
			</li>
			<li>
				<a target="_bland" href="{{site.data.about[lang].banner.GitHub}}" class="wthree_github">
					<i class="fa fa-github" aria-hidden="true"></i>
				</a>
			</li>
			<li>
				<a target="_bland" href="{{site.data.about[lang].banner.FaceBook}}" class="wthree_facebook">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
			</li>
			<!-- <li>
				<a href="#" class="wthree_twitter">
					<i class="fa fa-twitter" aria-hidden="true"></i>
				</a>
			</li> -->

		</ul>
	</div>
	<div class="banner-image-layouts">
		<img src="../images/PC.png" alt=" " class="img-responsive" />
	</div>
</div>
<!-- //banner -->