<!--skills -->
<div class="skills-agileinfo" id="skills">
	<div class="container">
		<h3 class="w3_head w3_head1 white-agile">My Skills
			<span>My special expertise</span>
		</h3>
		<div class="modal-spa">
			<div class="skills">
				
				<div class="col-md-12 bar-grids bargrids-left">
					<!-- <h4>
							<span class="glyphicon glyphicon-cog"></span> Technical Skills </h4> -->
					{% for skill in site.data.skills limit: 9%}
					<h6>{{skill[0]}}</h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: {{skill[1]}}%">
						</div>
					</div>
					{% endfor %}

				</div>
				<div class="col-md-6 bar-grids  w3-agile">
					<!-- <h4>
							<span class="glyphicon glyphicon-briefcase"></span> Professional Skills </h4> -->
					{% for skill in site.data.skills limit: 9 offset: 9%}
					<h6>{{skill[0]}}</h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: {{skill[1]}}%">
						</div>
					</div>
					{% endfor %}

				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!-- //skills -->