<!--skills -->
<div class="skills-agileinfo" id="skills">
	<div class="container">
		<h3 class="_head _head1 white-agile">My Skills
			<span>My special expertise</span>
		</h3>
		<div class="modal-spa">
			<div class="skills">
				<div class="col-md-6 bar-grids  ">
					<h4>
							<span class="glyphicon  glyphicon-list-alt"></span> Web </h4>
					{% for skill in site.data.skills[lang].Web %}
					<h6>
						<i class="fa fa-thumbs-o-up"></i> {{skill}}</h6>
					
					{% endfor %}

				</div>
				<div class="col-md-6 bar-grids">
					<h4>
						<span class="glyphicon glyphicon-cog"></span>General/Others </h4>
					{% for skill in site.data.skills[lang].General %}
					<h6>
						<i class="fa fa-thumbs-up"></i> {{skill}}</h6>
				
					{% endfor %}

				</div>
		
			
			
			
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!-- //skills -->